<div class="footer" id="footer">
  <button class="footer-button" id="btn-start-session" onclick="sessionStart()"><p id="id-cover">Get Help</p></button>
  <button class="footer-button" id="btn-end-session" onclick="sessionEnd()">Stop sessie</button>
</div>
